extends layout

block content
  h1= title
  
  if results && results.length > 0
    ul
      each creature in results
        li 
          strong= creature.creature 
          |  (#{creature.habitat}) - Lifespan: #{creature.lifespan}
  else
    p No creatures found in database