extends layout

block content
  h1(class="creaturetitle")= title
  form(id='CreatureForm', action="/resource/creature", method="POST")
    .form-group
        label.creatureAttr(for='creature') Creature type
        input#creature(class='input', type='text', name='creature')
    .form-group
        label.creatureAttr(for='habitat') Creature habitat
        input#habitat(class='input', type='text', name='habitat')
    .form-group
        label.creatureAttr(for='lifespan') Creature lifespan
        input#lifespan(class='input', type='number', name='lifespan')
    input(class="submitbtn", type="submit")
  
  script.
    document.forms['CreatureForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target))
      }).then((resp) => {
        return resp.json();
      }).then((body) => {
        alert("Save succeeded");
      }).catch((error) => {
        alert("Save failed " + error);
      });
    });